<figure>
   <IMG SRC="https://mamba-python.nl/images/logo_basis.png" WIDTH=125 ALIGN="right">
   
</figure>

#  3. Eigen toepassing

Nu je de dataset een beetje hebt leren kennen is het tijd om zelf een toepassing te verzinnen met deze dataset. Wanneer je zelf een plan bedenkt zul je tegen andere vragen aanlopen dan wanneer je opgaves maakt. Ook wordt je gedwongen je code op te delen in stappen en leer je welke toepassingen wel en niet haalbaar zijn.

Beschrijf in het tekstvak hieronder het doel van je toepassing en wat je in- en output zal zijn:
    
Doel toepassing:

input:
    
output:

Probeer voordat je start je code op te delen in stappen. Beschrijf deze stappen hieronder. Je kan deze altijd later nog aanpassen als er stappen bijkomen of overgeslagen kunnen worden.

Stappenplan:

1. 
2. 
3. 
4. 
5.

### Inhoudsopgave<a id="top"></a>
1. [Dataset](#1)
2. [Uitwerking](#2)

### [1. Dataset ](#top)<a id="1"></a>

Voor je eigen toepassing maak je gebruik van dezelfde dataset als hiervoor.

In [2]:
import pandas as pd
df = pd.read_csv(r'./Data/french_car_claim_set_big.csv')
df

,IDpol,ClaimNb,Exposure,Area,VehPower,VehAge,DrivAge,BonusMalus,VehBrand,VehGas,Density,Region,ClaimAmount
0,1120377,1,0.22000,B,9,13,19.0,100,B2,Regular,93,R24,4075400.56
1,110846,2,0.43000,C,6,13,20.0,100,B1,Regular,203,R24,1404185.52
2,2141337,1,0.32000,D,4,14,18.0,100,B2,Regular,863,R82,1301172.60
3,3122016,1,0.91000,E,7,7,40.0,63,B11,Diesel,9307,R82,774411.50
4,2008127,3,0.36000,D,4,2,57.0,50,B4,Regular,1217,R82,399213.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...
678008,6114326,0,0.00274,E,4,0,54.0,50,B12,Regular,3317,R93,0.00
678009,6114327,0,0.00274,E,4,0,41.0,95,B12,Regular,9850,R11,0.00
678010,6114328,0,0.00274,D,6,2,45.0,50,B12,Diesel,1323,R82,0.00
678011,6114329,0,0.00274,B,4,0,60.0,50,B12,Regular,95,R26,0.00
678012,6114330,0,0.00274,B,7,6,29.0,54,B12,Diesel,65,R72,0.00

### [2. Uitwerking](#top)<a id="2"></a>
Werk hier je toepassing verder uit.